.main{
    max-width: 1100px;
    min-width: 980px;
    position: relative;
    margin: 20px auto;
    border-radius: 5px;
}
.main form{
    margin: 30px 0px 30px 355px;
}
.find_t{
    width: 300px;
    height: 30px;
}
.find_b{
    height: 30px;
    width: 70px;
}
.main table{
    margin: 0 auto 10px;
    font-size: 0.9rem;
}
.main table thead tr{
    background: #EBF7FF;
    border-bottom: 1px #93D3FF solid;
}
.main table thead tr th{
    padding: 5px;
    width: 150px;
    text-align: left;
}
.main table thead tr th:first-child{
    width: 300px;
}
.main table tbody tr td{
    padding: 5px;
    border-bottom: 1px solid #dddddd;
}
.main table tbody tr td:last-child{
    text-align: right
}
.main .left,.right{
	text-align: center;
	margin-bottom: 10px;
	font-size: 0.9rem;
}
.main .right a{
	border: 1px solid #EBF7FF;
	padding: 3px 8px;
	background: #fd6834;
}